@import url('../color.css');
main{
    width: 80vw;
    height: 75vh;
    margin: 10px auto;
    border-radius: 20px;
    padding: 10px 0;
    background-color: var(--main-color);
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
} 
.title h1{
    display: flex;
    font-size: 24px;
    margin-left: 50px;
}
.inputForm{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    width: 75%;
}
.inputForm input{
    margin: 0 5px;
    border-radius: 10px;
    width: 15%;
}
.inputForm input[type='submit']{
    background-color: white;
    width: fit-content;
    margin-right: 20px;
}
.inputForm input[type='submit']:active{
    background-color: rgb(141, 197, 128);
    color: white;
}
select{
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
input{
    padding: 0;
    height: 28px;
    border: 1px solid black;
    border-radius: 5px;
}
select, input{
    margin:0 20px;
    padding: 0 10px;
}
.tableArea{
    margin: 20px 50px;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}
.tableArea table {
    width: 100%;
    border-radius: 10px;
}
.tableArea table tr{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tableArea table .head{
    border-radius: 10px 10px 0 0;
    border-bottom:1px solid black ;
}
.tableArea table tbody tr{
    height: 10px;
}
.tableArea table thead tr th{
    font-size: 18px;
}
.tableArea table tbody tr td{
    font-size: 14px;
}
.tableArea table tbody tr td,
.tableArea table thead tr th{
    flex: 0.3;
    text-align: center;
}
.tableArea table tbody tr:last-child{
    border-radius: 0 0 10px 10px;
}
.changePage{
    width: 100%;
    display: flex;
    justify-content: center;
}
.setting{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.setting a img {
    width: 20px;
    margin: 0 5px;
}