<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>黃金進銷存系統</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/homePage.css">
</head>
<body>
    <nav><button>登入</button><button>註冊</button></nav>
    <main>
        <section>
            <h1>新增貨物</h1>
            <p>Barang baru</p>
        </section>
        <form>
            <label for="product_name">貨物名稱(nama barang)</label><input type="text" name="product_name"/>
            <label for="product_name">金價(harga emas)</label><input type="number`" name="product_name"/>
            <label for="product_name">手工費(Biaya manual)</label><input type="text" name="product_name"/>
            <label for="product_name">貨物名稱</label><input type="text" name="product_name"/>
        </form>
    </main>
</body>
</html>
<script src="//cdnjs.cloudflare.com/ajax/libs/css.js/2.5.3/css.min.js"></script>