<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>黃金進銷存系統</title>
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">
    <link rel="stylesheet" type="text/css" href="../static/css/homePage.css">
</head>

<body>
    <nav class="navbar">
        <a href="/">
            <h1>豪哥管金</h1>
        </a>
        <div class="login">
            {% if session['account'] %}
                <a>Welcome {{ session['account'][0] }} Permissions is  
                    {% if session['account'][2] == 'a'%}
                        Manager
                    {% elif session['account'][2] == 'b'%}
                        Seller
                    {% else %}
                        Normal
                    {% endif %}
                </a>
                <a href="logout">LogOut</a>
            {% elif request.path == '/user/logout' %}
                <script>alert('成功登出')</script>
                <a href="login_form">LogIn</a>
                <a href="create">SignIn</a>
            {% else %}
                <a href="user/login_form">LogIn</a>
                <a href="user/create">SignIn</a>
            {% endif %}
        </div>
    </nav>
    <main>
        <section class="banner">
            <h2>歡迎來到此系統請選擇下列功能做使用</h2>
            <p>Selamat datang di sistem ini. Silakan pilih fungsi berikut untuk digunakan.</p>
        </section>
        <section class="buttonArea">
            <a class="button" 
                {% if session['account'] %}
                    href="product/list"
                {% else %}  
                    href="user/login_form"
                {% endif %}>
                <article>
                    <h3>貨物</h3>
                    <p>barang-barang</p>
                </article>
                <img src="/static/img/box.png">
            </a>
            <a class="button" 
                {% if session['account'] %}
                    href="product/list"
                {% else %}  
                    href="user/login_form"
                {% endif %}>
                <article>
                    <h3>訂單</h3>
                    <p>Memesan</p>
                </article>
                <img src="/static/img/checkout.png">
            </a>
            <a class="button" 
                {% if session['account'] %}
                    href="product/list"
                {% else %}  
                    href="user/login_form"
                {% endif %}>
                <article>
                    <h3>分期付款</h3>
                    <p>Dcicilan</p>
                </article>
                <img src="/static/img/pay.png">
            </a>

            <a class="button" 
                {% if session['account'] %}
                    href="/user/list"
                {% else %}  
                    href="user/login_form"
                {% endif %}>
                <article>
                    <h3>會員管理</h3>
                    <p>Manajemen anggota</p>
                </article>
                <img src="/static/img/group-chat.png">
            </a>
        </section>
    </main>
</body>

</html>
<script src="//cdnjs.cloudflare.com/ajax/libs/css.js/2.5.3/css.min.js"></script>