<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>黃金進銷存系統</title>
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/user/login_form.css">
</head>

<body>
    <nav class="navbar">
        <a href="/">
            <h1>豪哥管金</h1>
        </a>
        <div class="login">
            <a href="user/login/create">SignIn</a>
        </div>
    </nav>
    <main>
        <section class="login">
            <h2>LogIn</h2>
            <form class="form" action="login" method="post">
                <input type="text" name="account" placeholder="UserName" />
                <input type="password" name="passWord" placeholder="PassWord" />
                <input type="submit" value="Confirm" />
            </form>
        </section>
    </main>
</body>

</html>
<script src="//cdnjs.cloudflare.com/ajax/libs/css.js/2.5.3/css.min.js"></script>